src_ip: 10.0.2.15, dst_ip: 142.251.32.46, protocol: tcp, dst_port: 80
src_ip: 10.0.2.0/24, dst_ip: 8.8.8.8, protocol: icmp, dst_port: -
src_ip: 192.168.56.104, dst_ip: 10.0.2.15, protocol: icmp, dst_port: -

src_ip: 130.25.85.240, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 106.246.229.147, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 113.31.104.225, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 201.124.240.121, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 8.219.232.64, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
