src_ip: 10.0.2.15, dst_ip: 142.251.32.46, protocol: tcp, dst_port: 80
src_ip: 10.0.2.0/24, dst_ip: 8.8.8.8, protocol: icmp, dst_port: -
src_ip: 192.168.56.104, dst_ip: 10.0.2.15, protocol: icmp, dst_port: -

src_ip: 61.183.225.72, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 14.29.234.137, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 80.94.95.81, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 118.70.48.219, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 152.32.209.2, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 159.89.20.44, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 196.207.254.229, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 172.174.72.225, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 162.214.197.33, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 162.240.104.99, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 192.42.116.210, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 192.42.116.175, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 95.214.55.138, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 79.224.111.41, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 2.44.56.53, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 125.76.228.194, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 218.56.160.82, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 122.13.25.17, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 49.249.83.115, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
src_ip: 92.27.101.99, dst_ip: 0.0.0.0, protocol: tcp, dst_port: -
